{
  "presets": [["@babel/env", { "loose": true }], ["@babel/react"]],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
      "plugins": ["require-context-hook", "macros"]
    }
  }
}
