.leaflet-control-select {
  .leaflet-control-button {
    font-size: 23px;
  }
  .leaflet-control-select-menu:nth-of-type(1) {
    position: absolute;
    top: -3px;
    left: -2px;
  }
  .leaflet-control-select-menu:nth-of-type(n + 2) {
    margin-top: -7px;
    margin-left: 15px;
    position: absolute;
  }
  .leaflet-control-select-menu {
    background-color: white;

    p {
      margin: 0.3rem;
      cursor: pointer;
      white-space: nowrap;
      display: -webkit-box;

      div {
        display: flex;
      }

      span,
      i {
        display: inline;
      }

      i {
        position: relative;
        margin-left: 3px;
      }
    }
  }
}
